@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply hidden;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  * {
    @apply m-0 p-0 font-main text-gray-50;
  }

  body {
    @apply min-h-screen;
  }

  img,
  picture,
  svg,
  video {
    @apply block max-w-full;
  }
}

@layer components {
  @keyframes type-effect {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes type-effect-blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(249 250 251);
    }
  }

  .type-effect {
    @apply animate-[type-effect_2s_steps(18,end),type-effect-blink_0.5s_step-end_infinite];
  }
}
