<head hx-head="append">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" />
  <div hx-get="/components/header.html" hx-target="#body" hx-trigger="load" hx-swap="afterbegin"></div>
  <div hx-get="/components/footer.html" hx-target="#body" hx-trigger="load" hx-swap="beforeend"></div>
</head>
